target/
.settings/
jetty/
deploy/
configuration.properties
fenix-framework.properties
onelogin.saml.properties
output/
.classpath
.project
build.properties.fenixIST
build.properties.local
build.properties.slave
configuration.properties.fenix
configuration.properties.localhost
*.sh
/target

.idea/
*.iml
